/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
body {
    padding-top: 80px; 
 }
 .starter-template {
     /*padding: 3rem 1.5rem;
     text-align: center;*/
     display: flex;
     min-width: 100%;
 }